@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
.btn-primary {
    background-color: $color-primary;
    color: $color-white;
    font-size: rem(16);
    font-weight: 500;
    padding: rem(16) rem(54);
    border-radius: $radius-pill;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.9;
    }
}

.quantity {
    display: flex;
    align-items: center;
    background-color: $color-background;
    border-radius: $radius-pill;
    padding: rem(12) rem(20);
    gap: rem(20);
    width: max-content;

    &--small {
        padding: rem(8) rem(16);
        gap: rem(16);
    }

    &__btn {
        font-size: rem(18);
        color: $color-primary;
        font-weight: 600;

        &:hover {
            opacity: 0.6;
        }
    }

    &__input {
        width: rem(24);
        text-align: center;
        background: transparent;
        font-size: rem(16);
        font-weight: 500;
    }
}