@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
.cart-item {
    display: flex;
    gap: rem(16);
    padding: rem(16) 0;

    &__image-container {
        width: rem(124);
        height: rem(124);
        background-color: $color-background;
        border-radius: $radius-md;
        overflow: hidden;
        flex-shrink: 0;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__title {
        font-size: rem(20);
        font-weight: 700;
    }

    &__delete-btn {
        background: transparent;
        cursor: pointer;
    }

    &__delete-icon {
        width: rem(20);
        height: rem(20);
    }

    &__meta {
        font-size: rem(14);
        color: $color-text-muted;
    }

    &__meta-value {
        color: $color-primary;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        font-size: rem(24);
        font-weight: 700;
    }
}