@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    @include flex-center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.modal {
    background-color: $color-white;
    border-radius: $radius-lg;
    width: 90%;
    max-width: rem(500);
    padding: rem(32);
    display: flex;
    flex-direction: column;
    gap: rem(24);
    position: relative;
    transform: translateY(rem(-20));
    transition: transform 0.3s;

    .modal-overlay.active & {
        transform: translateY(0);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: rem(24);
        font-weight: 700;
    }

    &__close-btn {
        background: transparent;
        font-size: rem(20);
        cursor: pointer;
    }

    &__body {
        font-size: rem(16);
        color: $color-text-muted;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        gap: rem(12);
    }
}