@use '../abstracts/functions' as *;
.cart__container,
.header__navbar,
.footer__main,
.footer__bottom {
    max-width: rem(1240);
    margin: 0 auto;
    padding-left: rem(20);
    padding-right: rem(20);
}