@use '../abstracts/variables' as *;
body {
    font-family: $font-body;
    color: $color-text-main;
    background-color: $color-white;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

button, input, select, textarea {
    font-family: inherit;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    background: transparent;
}